* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  background-color: #c3c3c3;
  padding: 50px; }
