* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2d2d2d; }

/*-----------------------------------------------------------*/
#square {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 50px;
  height: 50px;
  border: 100px solid skyblue;
  -webkit-border-image: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(skyblue), to(blue));
  -webkit-border-image: -webkit-linear-gradient(left bottom, blue, skyblue, blue);
  -o-border-image: -o-linear-gradient(left bottom, blue, skyblue, blue);
  border-image: -webkit-gradient(linear, left bottom, right top, from(blue), color-stop(skyblue), to(blue));
  border-image: linear-gradient(to right top, blue, skyblue, blue);
  border-image-slice: 2;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.8, 0.8, 0.4);
  animation-timing-function: cubic-bezier(0.4, 0.8, 0.8, 0.4);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.animation-square {
  -webkit-animation-name: square1;
  animation-name: square1; }

@-webkit-keyframes square1 {
  0% {
    width: 50px;
    height: 50px; }
  40% {
    width: 100px;
    height: 100px; }
  50% {
    width: 200px;
    height: 200px;
    -webkit-transform: rotateZ(500deg) rotateY(230deg);
    transform: rotateZ(500deg) rotateY(230deg); }
  60% {
    width: 100px;
    height: 100px; }
  100% {
    width: 50px;
    height: 50px; } }

@keyframes square1 {
  0% {
    width: 50px;
    height: 50px; }
  40% {
    width: 100px;
    height: 100px; }
  50% {
    width: 200px;
    height: 200px;
    -webkit-transform: rotateZ(500deg) rotateY(230deg);
    transform: rotateZ(500deg) rotateY(230deg); }
  60% {
    width: 100px;
    height: 100px; }
  100% {
    width: 50px;
    height: 50px; } }

/*-------------------------------------------------*/
#circle-btn {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 5;
  top: 15%;
  right: 30%;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #circle-btn .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: gold;
    -webkit-box-shadow: 0px -200px 100px -120px crimson inset;
    box-shadow: 0px -200px 100px -120px crimson inset;
    -webkit-animation: background1 7s infinite alternate;
    animation: background1 7s infinite alternate; }

@-webkit-keyframes background1 {
  50% {
    background: skyblue;
    -webkit-box-shadow: 0px -200px 100px -100px yellowgreen inset;
    box-shadow: 0px -200px 100px -100px yellowgreen inset; } }

@keyframes background1 {
  50% {
    background: skyblue;
    -webkit-box-shadow: 0px -200px 100px -100px yellowgreen inset;
    box-shadow: 0px -200px 100px -100px yellowgreen inset; } }
  #circle-btn .circle-puls {
    display: block;
    position: relative;
    z-index: -1;
    -webkit-transform-origin: center, center;
    -ms-transform-origin: center, center;
    transform-origin: center, center;
    -webkit-animation: background2 3s infinite alternate;
    animation: background2 3s infinite alternate;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px -5px #c8115d inset;
    box-shadow: 0px 0px 10px -5px #c8115d inset; }

@-webkit-keyframes background2 {
  50% {
    -webkit-box-shadow: 0px 0px 10px -5px #e0bf07 inset;
    box-shadow: 0px 0px 10px -5px #e0bf07 inset; } }

@keyframes background2 {
  50% {
    -webkit-box-shadow: 0px 0px 10px -5px #e0bf07 inset;
    box-shadow: 0px 0px 10px -5px #e0bf07 inset; } }

.circle-active .circle {
  -webkit-animation: background1 7s infinite alternate, resizeCircle1 0.5s 2 alternate !important;
  animation: background1 7s infinite alternate, resizeCircle1 0.5s 2 alternate !important; }

.circle-active .circle-puls {
  -webkit-animation: background2 3s infinite alternate, resizeCircle2 0.4s 2 alternate !important;
  animation: background2 3s infinite alternate, resizeCircle2 0.4s 2 alternate !important; }

@-webkit-keyframes resizeCircle2 {
  50% {
    -webkit-transform: scale(6.5);
    transform: scale(6.5); } }

@keyframes resizeCircle2 {
  50% {
    -webkit-transform: scale(6.5);
    transform: scale(6.5); } }

@-webkit-keyframes resizeCircle1 {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

@keyframes resizeCircle1 {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

/*-------------------------------------------------------------------------*/
#rectangle {
  position: relative;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%; }
  #rectangle .rectangle1,
  #rectangle .rectangle2,
  #rectangle .rectangle3 {
    position: absolute;
    left: 0px;
    width: 200px;
    height: 300px;
    -webkit-transform: matrix(1.3, 0, -1.1, 0.2, 0, 0);
    -ms-transform: matrix(1.3, 0, -1.1, 0.2, 0, 0);
    transform: matrix(1.3, 0, -1.1, 0.2, 0, 0); }
  #rectangle .rectangle1 {
    background-color: green;
    bottom: -100px; }
  #rectangle .rectangle2 {
    background-color: rgba(0, 128, 0, 0.434);
    bottom: -100px; }
  #rectangle .rectangle3 {
    background-color: rgba(0, 128, 0, 0.153);
    bottom: -100px; }

.rectangle-active .rectangle1 {
  -webkit-animation: rectangle1 2s 1;
  animation: rectangle1 2s 1; }

.rectangle-active .rectangle2 {
  -webkit-animation: rectangle2 2s 1;
  animation: rectangle2 2s 1; }

@-webkit-keyframes rectangle1 {
  50% {
    bottom: 0px; } }

@keyframes rectangle1 {
  50% {
    bottom: 0px; } }

@-webkit-keyframes rectangle2 {
  50% {
    bottom: -50px; } }

@keyframes rectangle2 {
  50% {
    bottom: -50px; } }

/*-----------------------------------------------------------------------*/
#triangle {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -100px;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 200px solid #60067d;
  -webkit-animation: triangle1 3s 1;
  animation: triangle1 3s 1;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s; }

@-webkit-keyframes triangle1 {
  0% {
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1); }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    bottom: 10px; } }

@keyframes triangle1 {
  0% {
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1); }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    bottom: 10px; } }

.triangle-active {
  -webkit-transform: scale(1, -1) !important;
  -ms-transform: scale(1, -1) !important;
  transform: scale(1, -1) !important;
  bottom: 0px !important;
  top: 10px; }

@-webkit-keyframes triangle2 {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
    top: 10px; } }

@keyframes triangle2 {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
    top: 10px; } }
